body{background: #c6c3ba; margin: 0 auto; padding: 0; box-sizing: border-box; list-style: none; 
      font-size: 14px; font-family: 'Roboto', 'Segoe UI', 'Oxygen-Sans', sans-serif; width: 988px;} 
pre{color: #414141; padding: 11px 7px; border: 1px solid #eee; line-height: 23px; white-space: pre-wrap;} 
blockquote{padding: 2px 11px; margin: 0 3px; background-color: #f4f4ff; border-left: 3px solid #6e6ec2;}
code{font-size: 13px; padding: 3px; letter-spacing: 0.1rem; white-space: pre-wrap;}
.date{color: #72768f; font-size: 12px; border-bottom: 1px solid #ababab4d; line-height: 22px;} 
.ctg{padding: 0;} .ctg li{list-style: none;} .ctg a{color: #444444; font-size: 14px; text-transform: capitalize;} .ctg a:hover{color: #000;} hr{border: 1px solid #bbb;}
.category{margin: 0 3px; color: #72768f; text-transform: capitalize;} .category a{color: #6b98ca; font-size: 12px;} .category a:hover{color: #3282ff;}
.post-title{color: #46535f; font-size: 22px; border-bottom: 1px solid #b7beb2; padding: 5px 0; margin: 0; display: inline-block;}
header{background-color: #656862; color: #ffffff; border-bottom: 1px solid #25536d; 
    display: flex; justify-content: space-between; align-items: center; height: 44px;}
footer{background-color: #656862; color: #ffffff; height: 24px; font-size: 15px; 
    padding: 15px 25px; border-radius: 0 0 8px 8px; line-height: 20px; box-shadow: #585858 0 2px 2px;}
footer li{color: #d9f1ff; font-size: 13px; padding: 0;}
.title{color: #ffffff; padding: 0 13px;} 
.title a{color: #ffffff; font-size: 16px;} .title a:hover{color: #f9ffd9;} 
.menu{padding: 0 10px;} 
.menu ul{display: flex; align-items: center;}
.menu li{text-decoration: none; list-style-type: none; padding: 0 4px;} 
.menu a{color: #e7e7e7; font-size: 15px;}
.menu a:hover{color: #e7ffb0; border-bottom: 2px solid #f9ffd9;}
.container{background-color: white; padding: 1px;} 
.box{background-color: white; padding: 25px 40px; margin: 15px; overflow-y: auto; line-height: 42px;  
    box-shadow: #b8b8b8 0 3px 7px; border: 1px solid #e2e2e2; color: #444; font-size: 16px;} 
.baslik{padding: 0; color: #444;}
.box .baslik a{color: #656862; padding: 3px 0; font-size: 20px; word-break: break-word;} 
.box .baslik a:hover{color: #37492a;} 
.giris{color: #5f5f5f;}
.pagination{margin: 20px 14px; padding: 5px; color: #555; font-size: 14px;}
.pagination a{color: #4a4ab0; font-size: 14px;}
.pagination a:hover{color: #343434;}
.previous, .next{border: 1px solid #ddd; padding: 5px 7px; border-radius: 7px;}
.page_number{color: #bbb;}
.other{color: #eee; padding: 7px 15px; margin-top: 5px; font-size: 14px; 
    font-family: 'Roboto', 'Segoe UI', 'Oxygen-Sans', sans-serif; background-color: #656862; cursor: pointer; border-radius: 7px; border: none;}
.other:hover{background-color: #4a4ab0;}
.prc{font-family: 'Quicksand', Segoe, 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif; color: #444;} 
.info{font-family: 'Quicksand', Segoe, 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif; 
font-weight: 300; font-size: 27px; color: #545454; text-align: left;}
.prc img{max-width: 100%; height: auto; display: block;}

figure{font-size: 15px; color: #aaa; margin: 0;} figure img{margin: 0 auto;} figcaption{text-align: center;}
li{line-height: 25px; color: #444444; padding: 4px; font-size: 16px;}

p{color: #414141; font-size: 18px; line-height: 28px;}
h1{color: #444444; font-size: 23px; line-height: 23px; font-weight: 400;}
h2{color: #525252; font-size: 21px; line-height: 23px; font-weight: 400;}
h3{color: #585855; font-size: 18px; line-height: 21px; font-weight: 400;}
h4{color: #555555; font-size: 17px; line-height: 21px;}
h5{color: #555555; font-size: 15px; line-height: 21px;}
h6{color: #555555; font-size: 13px; line-height: 21px;}

a{color: #2671ee; font-size: 18px; text-decoration: none;} a:hover{color: #3282ff;}

#ust{width: 100%; height: 225px;}

    table{font: 15px 'Noto Naskh Arabic', Arial, sans-serif; margin: 2px 0; text-align: left; 
    color: #444444; border: 1px solid #c4c4c4; border-collapse: collapse;}
    th{background-color: #B3B3AC; color: #4E4E47; text-align: center; font-size: 15px; font-weight: normal; 
    font-family: 'Roboto', 'Segoe UI', Oxygen, sans-serif; padding: 8px; border: 1px solid #919191;}
    td{padding: 6px 8px; border: 1px solid #c4c4c4;} tr{border: 1px solid #c4c4c4;}
    tr:nth-child(odd) {background-color: #EDEDED;}
    tr:nth-child(even) {background-color: #DEDEDE;}

@media screen and (max-device-width: 988px) {     
    body{width: 100%;} 
    p img{max-width: 100%;} p{font-size: 14px;} a{font-size: 14px;}
    .post-title{font-size: 16px;} .box{padding: 16px;}

}
@media screen and (max-device-width: 458px) {     
    .menu{padding: 0 4px;} .menu a{font-size: 13px;} .title a{font-size: 13px;}
    .box{padding: 12px;} .box li a{padding: 2px 6px; font-size: 13px} h1{font-size: 16px} h2{font-size: 15px}
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');